<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
</head>
<body>

<div class="p-5 mb-5 </> bg-dark">
    <h4>자유게시판 입니다. 당신의 생각을 자유롭게 표현하세요</h4>
</div>

<div class="constant mt-5">
    <div class = "row">
        <div class = "mb-4">
            <article>
                <input type="hidden" id="article-id" th:value="${board.boardNo}">

                <header class="mb-4">
                    <h1 class="fw-bolder mb-1" th:text="${board.title}"></h1>
                    <div class="text-muted fst-italic mb-2" th:text="|작성 시간 ${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
                    <div class="text-muted fst-italic mb-2" th:text="|작성자 ${board.author}|"></div>
                </header>

                <section class="mb-5">
                    <p class="fs-5 mb-4" th:text = "${board.content}"></p>
                </section>

                <button type="button" id="modify-btn"
                        th:onclick="|location.href='/new-article?board_no=${board.boardNo}'|"

                        class="btn btn-primary btn-sm">수정</button>

<!--                <button type="button" id="modify-btn"-->
<!--                        th:onclick = "|location.href='@{/new-article?id = {articleId}(articleId=${board.boardNo})}'|"-->
<!--                        class="btn btn-primary btn-sm">수정</button>-->

                <button type="button" id="delete-btn"
                        class="btn btn-secondary btn-sm">삭제</button>
            </article>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-secondary mt-3" onclick="location.href='/articles'">목록으로 돌아가기</button>
    </div>



</div>
<script src="/js/token.js"></script>
<script src="/js/article.js"></script>
</body>
</html>