<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="p-1 mb-1 text-center</> bg-light">
    <h1 class="mb-3">자유게시판</h1>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-secondary btn-sm mb-3" onclick="location.href='/logout'">로그 아웃</button>
</div>


<div class="container">
    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/new-article}'|"
            class="btn btn-secondary btn-sm mb-3">글 등록</button>



    <div class="row-6" th:each="item: ${articles}">

        <table border="1">
            <colgroup>
                <col span="2" class="col1" />
                <col class="col2" />
            </colgroup>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            <tr>
                <td th:text="${item.boardNo}"></td>
                <td>
                    <a th:href="@{/articles/{id}(id=${item.boardNo})}" th:text="${item.title}" target="blank" />
                </td>
                <td th:text="${item.author}"></td>
                <td th:text="${item.createdAt}"></td>
                <td th:text="${item.views}"></td>
            </tr>
        </table>
    </div>
</div>

<script src="/js/token.js"></script>
<script src="/js/article.js"></script>
</body>
