<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/homePage" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="/articles" class="nav-link px-2 text-white">자유게시판</a></li>
        <li><a href="#" class="nav-link px-2 text-white">정보공유게시판</a></li>
        <li><a href="#" class="nav-link px-2 text-white">갤러리</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Hot 게시판</a></li>
        <li><a href="#" class="nav-link px-2 text-white">공지</a></li>
      </ul>

      <form th:action="@{/articles}" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <div class="input-group">
          <input type="text" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" id="Search" name="searchKeyword">
          <button type="submit" class="btn btn-warning">
            <svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="#search" />
            </svg>
            검색
          </button>
        </div>
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/login'">Login</button>
        <button type="button" class="btn btn-warning" onclick="location.href='/signup'">Sign-up</button>
        <button type="button" class="btn btn-outline-light me-2" onclick="location.href='/logout'">LogOut</button>
      </div>
    </div>
  </div>
</header>